# China mirror of npm
# registry=https://registry.npmjs.org/
registry = https://registry.npmmirror.com

# Electron 二进制及 electron-builder 依赖的国内镜像
electron_mirror = https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror = https://npmmirror.com/mirrors/electron-builder-binaries/

# 通过该配置兜底解决组件没有类型提示的问题
shamefully-hoist = true

# 安装依赖时锁定版本号
save-exact = true