# China mirror of npm
# registry=https://registry.npmjs.org/
registry = https://registry.npmmirror.com

# Electron Binary and electron-builder Domestic mirror for dependencies
electron_mirror = https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror = https://npmmirror.com/mirrors/electron-builder-binaries/

# This configuration provides a fallback solution for the issue of missing type hints for components.
shamefully-hoist = true

# Lock version numbers when installing dependencies.
save-exact = true